<template>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <router-link :to="{ name: 'home' }"> Greatest Posts </router-link>
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <router-link :to="{ name: 'home' }"> All Posts </router-link>
        </li>
      </ul>
    </div>
  </nav>
</template>
<script>
export default {
  name: "navbar",
};
</script>