<template>
  <div class="posts">
    <ol>
      <li v-for="(post, index) in posts" :key="index">
        <router-link :to="{ name: 'post', params: { id: post.id } }">
          {{ post.title }}
        </router-link>
      </li>
    </ol>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  name: "posts",
  methods: {
    ...mapActions({
      POSTS: "posts/POSTS",
    }),
  },
  computed: {
    ...mapGetters({
      posts: "posts/posts",
    }),
  },
  created() {
    this.POSTS();
  },
};
</script>