<template>
  <div class="post text-center w3-padding" v-if="post" v-show="showPost">
    <h4>{{ post.title }}</h4>
    <p>{{ post.body }}</p>
    <hr />
    <div class="btn-group btn-group-justified w3-padding">
      <a href="#" class="btn btn-primary" @click.prevent="editPost">Edit</a>
      <!-- <a href="#" class="btn btn-danger" @click.prevent="deletePost">Delete</a> -->
    </div>
  </div>
  <div class="container" v-show="showEditForm">
    <h2 class="text-center">Edit Post</h2>
    <form class="form-horizontal">
      <div class="form-group has-success has-feedback">
        <label class="col-sm-2 control-label" for="inputSuccess">Title</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="inputSuccess"
            v-model="postTitle"
          />
          <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
      </div>
      <div class="form-group has-success has-feedback">
        <label class="col-sm-2 control-label" for="inputSuccess"
          >Post Body</label
        >
        <div class="col-sm-10">
          <textarea
            class="form-control"
            rows="5"
            id="inputSuccess"
            v-model="postBody"
          ></textarea>
          <span class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
      </div>

      <div class="form-group text-center">
        <button
          class="w3-btn w3-round w3-teal w3-margin"
          @click.prevent="saveEdit"
        >
          Save
        </button>
        <button class="w3-btn w3-round w3-red w3-margin" type="reset">
          Clear
        </button>
        <div
          href="#"
          class="w3-btn w3-round w3-yellow w3-margin"
          @click.prevent="exitEdit"
        >
          Exit
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import { mapActions, mapGetters, mapMutations } from "vuex";
export default {
  name: "post",
  data() {
    return {
      selectPost: {},
      showPost: true,
      showEditForm: false,
      postTitle: "default title",
      postBody: "",
    };
  },
  methods: {
    ...mapActions({
      POST: "posts/POST",
      POSTS: "posts/POSTS",
    }),
    editPost() {
      this.showPost = false;
      this.showEditForm = true;
    },

    exitEdit() {
      this.showPost = true;
      this.showEditForm = false;
    },
    saveEdit() {
      this.showPost = true;
      this.showEditForm = false;
      const post = this.posts.find((post) => post.id == this.$route.params.id);
      post.title = this.postTitle;
      post.body = this.postBody;
      this.POST(post);
    },
    deletePost() {
      // this.posts = this.posts.filter(post => post.id != this.$route.params.id)
    },
  },
  computed: {
    ...mapGetters({
      post: "posts/post",
      posts: "posts/posts",
    }),
    ...mapMutations({
      SET_POST: "posts/SET_POST",
    }),
    post() {
      const post = this.posts.find((post) => post.id == this.$route.params.id);
      if (post) {
        this.postTitle = post.title;
        this.postBody = post.body;
      }
      return post;
    },
  },
  created() {
    this.POSTS();
    const post = this.posts.find((post) => post.id == this.$route.params.id);
    this.POST(post);
  },
};
</script>