<template>
  <div class="home">
    <navbar></navbar>
    <router-view></router-view>
  </div>
</template>
<script>
import Navbar from "./components/Navbar.vue";
export default {
  name: "App",
  components: {
    Navbar,
  },
};
</script>
